@charset "UTF-8";

/*
Em HTML é id e em CSS se torna # (Só pode um elemtento)
Em HTML é class em CSS se torna . (Pode vários elementos)
*/

body {
    background-color: rgb(153, 248, 212) ;
}

h1 {
    color: rgb(19, 80, 57) ;
}

h1#principal {
    text-align: center;
    background-color:  rgb(19, 80, 57);
    color: white;
}

h2 {
    color: rgb(74, 153, 87) ;
}

.basico {
    color: rgb(77, 153, 74);
}

.intermediario {
    color: rgb(153, 152, 74);
}

.avançado {
    color: rgb(153, 74, 74);
}

.destaque {
    background-color: rgb(207, 207, 80);
}